# Copy this file to .env and fill in your values
SENDGRID_API_KEY=SG.xxxxxxxxxxxxx
PAYPAL_CLIENT_ID=AxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxA
PAYPAL_CLIENT_SECRET=ExxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxE
AZURE_STORAGE_CONN=DefaultEndpointsProtocol=https;AccountName=...
AZURE_STORAGE_ACCOUNT=youraccountname
